<h1>Edit Product</h1>

<form action="/products/<%=@product.id%>" method="post">
  <input type="hidden" name="_method" value="patch">
  <div>
    Name: <input type="text" name="name" value="<%=@product.name%>">
  </div>
  <div>
    price: <input type="text" name="price" value="<%=@product.price%>">
  </div>
  <div>
    description: <input type="text" name="description" value="<%=@product.description%>">
  </div>
  <div>
    stock: <input type="text" name="stock" value="<%=@product.stock%>">
  </div>
  <div>
    supplier_id: <input type="text" name="supplier_id" value="<%=@product.supplier_id%>">
  </div>
  <div> 
    <button type="submit"> edit product </button>
  </div>
</form>